

.sec{
    bottom: 580px;
    left: 700px;
    height: 400px;
    background-color: bisque;
    
}

.sec3{
    position: relative;
    bottom: 550px;
}


.sec4{
    position: relative;
    bottom: 600px;
    background-color: rgb(223, 221, 221);
    padding-bottom: 4rem;
    
}

.scatered{
    position: relative;
    bottom: 500px;
}


.rounded-full{
    border-radius: 50%;
}

.col2:hover{
    background: #57524c;
    color: rgb(255, 255, 255);
    transition: ease-out 1s;
}

.col1:hover{
    background: rgb(163, 124, 51);
    color: rgb(255, 255, 255);
}

.sop{
    position: relative;
    bottom: 300px;
}

.col3:hover{
    background: goldenrod;
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.5s;
}

.btn1{
    position: relative;
    left: 30rem;
}

.shop{
    background-color: bisque;
}

.shop2{
    position: relative;
    bottom: 50px;
}